<a href="https://colab.research.google.com/github/nolgalindo/Node/blob/main/Copy_of_NBW2_pandas_key.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  A Quick Review from W1

Before pulling any data, we've gotta import all the packages we need

In [ ]:
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 6)

Now we can read in the data from a link OR from a file in the same directory

URL: `https://raw.githubusercontent.com/ishaandey/node/master/week-2/workshop/imdb.csv`

In [ ]:
movies = pd.read_csv('https://raw.githubusercontent.com/ishaandey/node/master/week-2/workshop/imdb.csv')

Take a quick look at the data

In [ ]:
movies.head()

                                         movie_title  ...  title_year
0                                            Avatar   ...      2009.0
1          Pirates of the Caribbean: At World's End   ...      2007.0
2                                           Spectre   ...      2015.0
3                             The Dark Knight Rises   ...      2012.0
4  Star Wars: Episode VII - The Force Awakens    ...  ...         NaN

[5 rows x 15 columns]

How many rows are there? Columns?

In [ ]:
movies.shape

(5043, 15)

There's a lot of columns, could we get a full list?

In [ ]:
movies.columns

Index(['movie_title', 'imdb_score', 'content_rating', 'budget', 'gross',
       'duration', 'genres', 'actor_1_name', 'actor_2_name', 'actor_3_name',
       'director_name', 'language', 'country', 'aspect_ratio', 'title_year'],
      dtype='object')

# Pandas Foundations

## Dataframe who?

Think of dataframes as little "spreadsheets" that hold our data.
<br>Each row represents an observation, and each column represents some feature about that data.

<br> With little bits of code, we can modify what that spreadsheet looks like.
<br> For example, our raw data `movies` can be transformed to show some metric about some feature for some subset of the data

In [ ]:
# For example:
movies[movies.country.isin(['USA','France','UK'])].groupby('country')[['gross', 'budget']].agg(['median','max'])

              gross                   budget
             median          max      median          max
country
France    4291965.0  145000989.0  19715000.0  390000000.0
UK       13401683.0  362645141.0  15000000.0  250000000.0
USA      32178777.0  760505847.0  20000000.0  300000000.0

## Series vs. Dataframes

We've been referring to *2 dimensional* tables using the `pd.DataFrame` object
<br>An individual column (or row), is *1 dimensional*. We call this a `pd.Series` object

In [ ]:
type(movies)

pandas.core.frame.DataFrame

We can access a series (always 1-dimensional) using either: `df.column` OR `df['column']`

In [ ]:
type(movies.imdb_score)

pandas.core.series.Series

In [ ]:
movies['imdb_score'] #returns the same thing as the one above inside the parenthesis

0       7.9
1       7.1
2       6.8
       ...
5040    6.3
5041    6.3
5042    6.6
Name: imdb_score, Length: 5043, dtype: float64

To select a **row** as a series, we can use `df.iloc[]` and a specific row number (its index)

In [ ]:
myrow = movies.iloc[4]
myrow[0] #accessing the first element
myrow['movie_title'] #accessing this specific item

'Star Wars: Episode VII - The Force Awakens\xa0            '

## Subsetting Columns

Subsetting and filtering is one of the most important, yet confusing topics when getting started.
<br>As we go along, feel free to run the code part by part to see what's going on in each step. `type()` is also a great tool here

Lets take a look at a smaller set of columns, say the movie title, actors & director name

In [ ]:
movies[['movie_title','actor_1_name','actor_2_name','actor_3_name','director_name']] # Note TWO square brackets

                                    movie_title  ...     director_name
0                                       Avatar   ...     James Cameron
1     Pirates of the Caribbean: At World's End   ...    Gore Verbinski
2                                      Spectre   ...        Sam Mendes
...                                         ...  ...               ...
5040                      A Plague So Pleasant   ...  Benjamin Roberds
5041                          Shanghai Calling   ...       Daniel Hsia
5042                         My Date with Drew   ...          Jon Gunn

[5043 rows x 5 columns]

Side Note: Why did we use two square brackets? What we're doing is passing a `list` to the subset function.
<br> Pandas `DataFrame` objects know that whenever we place `[]` after it, we're looking to do some sort of filtering operation

In [ ]:
actor_cols = ['actor_1_name','actor_2_name','actor_3_name']
movies[actor_cols] #doing the same thing as above

         actor_1_name      actor_2_name      actor_3_name
0         CCH Pounder  Joel David Moore         Wes Studi
1         Johnny Depp     Orlando Bloom    Jack Davenport
2     Christoph Waltz      Rory Kinnear  Stephanie Sigman
...               ...               ...               ...
5040      Eva Boehnke     Maxwell Moody    David Chandler
5041        Alan Ruck     Daniel Henney       Eliza Coupe
5042      John August  Brian Herzlinger          Jon Gunn

[5043 rows x 3 columns]

Another quick point of confusion: Check out the difference between `df['column']` vs `df[['column']]` ( try it out below)

In [ ]:
movies['imdb_score']

0       7.9
1       7.1
2       6.8
       ...
5040    6.3
5041    6.3
5042    6.6
Name: imdb_score, Length: 5043, dtype: float64

In [ ]:
movies[['imdb_score']] #this is a dataframe

      imdb_score
0            7.9
1            7.1
2            6.8
...          ...
5040         6.3
5041         6.3
5042         6.6

[5043 rows x 1 columns]

The former creates a *series*, since the input is just one *string*. The latter creates a *dataframe*, since the input is a *list* of columns.

## Filtering Rows With Conditions

Another common task is to filter rows based upon some criteria we have. We could:
1. Compare floats
2. Match strings
3. Check against multiple elements

In [ ]:
movies[movies.imdb_score > 8]

                                 movie_title  ...  title_year
3                     The Dark Knight Rises   ...      2012.0
17                             The Avengers   ...      2012.0
27               Captain America: Civil War   ...      2016.0
...                                      ...  ...         ...
4945                   The Brain That Sings   ...      2013.0
4972  Peace, Propaganda & the Promised Land   ...      2004.0
5001                         The Last Waltz   ...      1978.0

[253 rows x 15 columns]

In [ ]:
movies[movies.content_rating == 'G']

                                            movie_title  ...  title_year
35                                 Monsters University   ...      2013.0
41                                              Cars 2   ...      2011.0
43                                         Toy Story 3   ...      2010.0
...                                                 ...  ...         ...
4725                                             Benji   ...      1974.0
4787  Rise of the Entrepreneur: The Search for a Bet...  ...      2014.0
4874                             Sunday School Musical   ...      2008.0

[112 rows x 15 columns]

What if we wanted to find movies that were either `G`, `PG`, or `PG-13`? 
We'd have to type out something pretty annoying like: 
```python
movies[(movies.content_rating == 'G') | (movies.content_rating == 'PG') | (movies.content_rating == 'PG-13')]
```

<br>Instead, we'll use the `.isin()` operator to match against a group. Remember, `.isin()` accepts a `list` only

In [ ]:
movies[movies.content_rating.isin(['G', 'PG', 'PG-13'])]

                                    movie_title  ...  title_year
0                                       Avatar   ...      2009.0
1     Pirates of the Caribbean: At World's End   ...      2007.0
2                                      Spectre   ...      2015.0
...                                         ...  ...         ...
5036                           The Mongol King   ...      2005.0
5041                          Shanghai Calling   ...      2012.0
5042                         My Date with Drew   ...      2004.0

[2274 rows x 15 columns]

### Masking

What's going on under the hood? When we say something like this,
```python 
movies.content_rating == 'G'
```
We're actually asking Pandas to check that **for each** row in the series, if the given statement is True or False.

In [ ]:
movies.content_rating == 'G' #for every row in this series, checking if it equals G

0       False
1       False
2       False
        ...
5040    False
5041    False
5042    False
Name: content_rating, Length: 5043, dtype: bool

In [ ]:
movies[movies.content_rating == 'G']

                                            movie_title  ...  title_year
35                                 Monsters University   ...      2013.0
41                                              Cars 2   ...      2011.0
43                                         Toy Story 3   ...      2010.0
...                                                 ...  ...         ...
4725                                             Benji   ...      1974.0
4787  Rise of the Entrepreneur: The Search for a Bet...  ...      2014.0
4874                             Sunday School Musical   ...      2008.0

[112 rows x 15 columns]

## Basic functions

There's a couple super helpful functions that help us work with our data.

For sorting, we can use `.sort_values(by= )`, and pass in either a single string, or multiple strings in a list.
<br>To flip the default order, change the `ascending= ` parameter to `False`

In [ ]:
movies.sort_values(by= 'imdb_score', ascending=False)
movies.sort_values(by=['imdb_score', 'duration'], ascending = False) #further sorts if there is a tie breaker

                          movie_title  imdb_score  ... aspect_ratio  title_year
2765    Towering Inferno                      9.5  ...         1.33         NaN
1937        The Shawshank Redemption          9.3  ...         1.85      1994.0
3466                   The Godfather          9.2  ...         1.85      1972.0
...                               ...         ...  ...          ...         ...
4605             The Helix... Loaded          1.9  ...         1.78      2005.0
1136                      Foodfight!          1.7  ...          NaN      2012.0
2834  Justin Bieber: Never Say Never          1.6  ...         1.85      2011.0

[5043 rows x 15 columns]

We could also use the `.value_counts()` function to could how many observations there are for each category.
<br>If we wanted relative frequencies (i.e. proportions) instead of absolute counts, we could change the `normalize=` parameter to `True`

In [ ]:
movies.country.value_counts(normalize=True)
movies.country.value_counts() / movies.shape[0] #idk

USA                   0.755657
UK                    0.088924
France                0.030568
                        ...
Dominican Republic    0.000198
Kyrgyzstan            0.000198
Slovakia              0.000198
Name: country, Length: 65, dtype: float64

Finally, we can take basic summary measures, like the `.mean()` or `.sum()` of a column.

In [ ]:
movies.budget.mean()
movies.budget.median()
movies.budget.max() #etc

12215500000.0

## Chaining

Chaining helps make our code more concise and readable.

For example, if we wanted to combine some subsets with functions:

In [ ]:
df1 = movies[movies.imdb_score > 8.5]
df2 = df1[df1.content_rating == 'PG']
df3 = df2.sort_values(by='duration',ascending=False)
df3.head() #watch Spirited Away lol

                                          movie_title  ...  title_year
2051  Star Wars: Episode V - The Empire Strikes Back   ...      1980.0
2373                                   Spirited Away   ...      2001.0
3024              Star Wars: Episode IV - A New Hope   ...      1977.0
4049                           It's a Wonderful Life   ...      1946.0
4526                                      Casablanca   ...      1942.0

[5 rows x 15 columns]

We could instead write the above as:

In [ ]:
movies[movies.imdb_score > 8.5].loc[movies.content_rating == 'PG'].sort_values(by='duration', ascending=False).head() #python wants .loc to show 2 filters

                                          movie_title  ...  title_year
2051  Star Wars: Episode V - The Empire Strikes Back   ...      1980.0
2373                                   Spirited Away   ...      2001.0
3024              Star Wars: Episode IV - A New Hope   ...      1977.0
4049                           It's a Wonderful Life   ...      1946.0
4526                                      Casablanca   ...      1942.0

[5 rows x 15 columns]

This works because each part of our code `returns` a dataframe, so we can keep tagging along functions instead of saving each step into a temporary variable.

**Try it out:** In one line, see if you can find the value counts of `content_rating` for movies with a gross revenue (`gross`) over `200000000` ($ 200 million)

In [ ]:
movies.loc[movies.gross > 200000000].content_rating.value_counts()

PG-13    97
PG       49
R        11
G        10
Name: content_rating, dtype: int64

# Practice w/ UFOs

Data sampled from the National UFO Reporting Center (NUFORC)
<br>With your breakout groups, open up `ufo.csv` and answer the following questions:

1. Among the West Coast states (California, Oregon, and Washington), how long (on average) did the fireballs encounters last?
2. Which state saw the most encounters that lasted between 5 minutes to 1 hour?
3. There was one particularly interesting encounter on `2/11/2004 00:00` in West Palm Beach, Florida. What happened?

<br>Hint: Break down each question into parts, and chain them back together. There's no particular 'right' way
<br>To refer to the `shape` column, use `ufo['shape']` instead of `ufo.shape`, since the latter is a reserved attribute

<br> URL = `https://raw.githubusercontent.com/ishaandey/node/master/week-2/workshop/ufo.csv`

In [ ]:
# Read data
ufo.columns
ufo = pd.read_csv('https://raw.githubusercontent.com/ishaandey/node/master/week-2/workshop/ufo.csv')

NameError: ignored

In [ ]:
# 1
ufo[ufo.state.isin(['ca', 'or', 'wa'])].loc[ufo.shape_type == 'fireball'].duration_sec.mean()

238.88888888888889

In [ ]:
# 2

ufo[ufo.duration_sec >= 300].loc[ufo.duration_sec <= 3600].state.value_counts().head(1)

ca    392
Name: state, dtype: int64

In [ ]:
# 3
ufo[ufo.datetime == '2/11/2004 00:00'].loc[ufo.state == 'fl'].comments.values[0]

'BLINDING LIGHT LIFTED MY DOG AND TOOK OFF INTO SPACE'

# Groupby Objects

From before, we used `value_counts()` to get the number of movies per each content rating

In [ ]:
movies.content_rating.value_counts() #old way

R        2118
PG-13    1461
PG        701
         ...
M           5
TV-Y        1
TV-Y7       1
Name: content_rating, Length: 18, dtype: int64

This is a good summary statistic to examine the distribution of our dataset. But...

<br>What if we want to know how movie performance differs by rating?
<br>We need to apply some function (i.e. take the mean of revenue) **per each** content rating

In [ ]:
movies_byRating = movies.groupby('content_rating')

This creates a special **GroupBy object**. 

<br>For now, let's think of it like a *collection* of dataframes, seperated by each unique value from content rating (One group for `R`, `PG-13`, etc).
<br>We can't easily render what the entire GroupBy object looks like, but we can pull out a particular group

In [ ]:
movies_byRating.get_group('R')

                              movie_title  imdb_score  ... aspect_ratio  title_year
84                            The Lovers          4.5  ...          NaN      2015.0
94    Terminator 3: Rise of the Machines          6.4  ...         2.35      2003.0
113                            Alexander          5.5  ...         2.35      2004.0
...                                   ...         ...  ...          ...         ...
5021                     The Puffy Chair          6.6  ...          NaN      2005.0
5026                               Clean          6.9  ...         2.35      2004.0
5035                         El Mariachi          6.9  ...         1.37      1992.0

[2118 rows x 15 columns]

In [ ]:
print(type(movies_byRating.get_group('PG')))
movies_byRating.get_group('PG').head()

<class 'pandas.core.frame.DataFrame'>

                                  movie_title  ...  title_year
7                                    Tangled   ...      2010.0
9     Harry Potter and the Half-Blood Prince   ...      2009.0
16  The Chronicles of Narnia: Prince Caspian   ...      2008.0
33                       Alice in Wonderland   ...      2010.0
38                 Oz the Great and Powerful   ...      2013.0

[5 rows x 15 columns]

When we apply **aggregation** functions to a `GroupBy` object, we get back averages for each column in the dataframe, **broken down** by content rating

In [ ]:
movies_byRating.agg('mean')

                imdb_score        budget  ...  aspect_ratio   title_year
content_rating                            ...
Approved          7.325455  4.142475e+06  ...      1.735818  1954.781818
G                 6.529464  4.499913e+07  ...      1.962523  1995.892857
GP                6.916667  5.550000e+06  ...      2.024000  1970.666667
...                    ...           ...  ...           ...          ...
TV-Y7             7.200000           NaN  ...      4.000000          NaN
Unrated           6.920968  5.092971e+06  ...      2.110370  1990.354839
X                 6.500000  3.338462e+06  ...      1.928462  1981.307692

[18 rows x 6 columns]

If we were just to apply `.mean()` to the entire dataframe, we'd only get back one row with summaries for the entire dataset

In [ ]:
pd.DataFrame(movies.mean(), columns=['Total']).T

       imdb_score        budget  ...  aspect_ratio   title_year
Total    6.442138  3.975262e+07  ...      2.220403  2002.470517

[1 rows x 6 columns]

We've got other ways to aggregate the data too.

Here, we're showing the mean, max, and min values of `imdb_score` by passing in multiple strings in a list to `.agg()`

In [ ]:
movies_byRating['imdb_score'].agg(['mean', 'min', 'max', 'count']).sort_values('count', ascending = False)

                    mean  min  max  count
content_rating
R               6.527101  1.9  9.3   2118
PG-13           6.257495  1.9  9.0   1461
PG              6.294437  1.7  8.8    701
...                  ...  ...  ...    ...
M               6.840000  6.0  8.1      5
TV-Y            7.400000  7.4  7.4      1
TV-Y7           7.200000  7.2  7.2      1

[18 rows x 4 columns]

The results of these groupby operations are all dataframes, check it out with the `type( )` operator
This means we can start chaining together dataframe functions, for example `sort_values()`

**Try it out:** Break down median revenues by country, then sort them highest to lowest

In [ ]:
# 1

### Multilevel GroupBy

We can also group on multiple columns to get *all unique combinations* of those columns. 

<br> For example, we can see if the relationship between `content_rating` and `imdb_rating` differs across countries by using both as keys

# Summary

That's it for now!

<br>Today you learned how to:
- **Import** a dataset as a pandas object
- Check out quick features, like `.head()`, `.shape`, and `.value_counts()`
- The distinction between `pd.Series` and `pd.DataFrame` objects
- **Filter** rows based on some condition
- **Subset** columns to those we want

We also used special `GroupBy` objects to get specific drill-down insights by:
<br>(1) first breaking out, or **grouping** a dataset based on some category, then
<br>(2) **aggregating** information from each observation in that category

<br> In practice, if we wanted to get a mean score, broken down by every value in a given column, we would do:
<br>`df.groupby(by='group column').agg('mean').score_column`